
    <!-- article - start -->
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">
      <div class="avatar">
        <div class="w-12 rounded-full ">
          <%= link_to graduation_album_menber_path(message_for_everyone.graduation_album, message_for_everyone.user) do %>
            <%= image_tag current_user.avatar.to_s %>
          <% end %>
        </div>
      </div>
      <%= link_to message_for_everyone.user.name, graduation_album_menber_path(message_for_everyone.graduation_album, message_for_everyone.user), class: "text-gray-800 hover:text-gray-500 text-lg lg:text-xl font-bold transition duration-100"%>
      </h2>
        <%= message_for_everyone.body %>
      <div class="card-actions justify-end">
        <% if current_user.own?(message_for_everyone) %>
          <%= link_to edit_graduation_album_message_for_everyone_path(message_for_everyone.graduation_album, message_for_everyone), class: "text-gray-800 hover:text-gray-500 text-lg lg:text-xl font-bold transition duration-100" do %>
            <i class="fa-solid fa-pen-to-square fa-lg"></i>
          <% end %>
          <%= link_to graduation_album_message_for_everyone_path(message_for_everyone.graduation_album, message_for_everyone), method: :delete, id: "delete_button", data: {confirm: "本当に削除しますか？"},  class: "text-gray-800 hover:text-gray-500 text-lg lg:text-xl font-bold transition duration-100" do%>
            <i class="fa-solid fa-trash-can fa-lg"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

