<main class="dark:bg-gray-800 font-mono bg-white relative overflow-hidden h-screen">
    <div class="hidden md:block absolute -bottom-32 -left-32 w-96 h-96">
        <div class="absolute text-extrabold text-xl right-12 z-20 text-start top-1/4">
            <span class="text-7xl">
                ðŸŽ¨
            </span>
            <p>
                Got a project ?
            </p>
            <a href="#" class="underline">
                Let&#x27;s talk
            </a>
        </div>
        <svg viewBox="0 0 200 200" class="absolute w-full h-full" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FFDBB9" d="M44.7,-76.4C58.8,-69.2,71.8,-59.1,79.6,-45.8C87.4,-32.6,90,-16.3,88.5,-0.9C87,14.6,81.4,29.2,74.1,43.2C66.7,57.2,57.6,70.6,45,78.1C32.4,85.6,16.2,87.1,0.7,85.9C-14.8,84.7,-29.6,80.9,-43.9,74.4C-58.3,67.9,-72,58.7,-79.8,45.9C-87.7,33,-89.5,16.5,-88.9,0.3C-88.4,-15.9,-85.4,-31.7,-78.1,-45.4C-70.8,-59.1,-59.1,-70.6,-45.3,-77.9C-31.6,-85.3,-15.8,-88.5,-0.3,-88.1C15.3,-87.6,30.5,-83.5,44.7,-76.4Z" transform="translate(100 100)">
            </path>
        </svg>
    </div>
    <div class="flex relative z-20 items-center">
        <div class="container mx-auto px-6 flex flex-col justify-between items-center relative py-4">
            <div class="flex flex-col">
                <%= image_tag @menber.avatar.to_s, class:"rounded-full w-28 mx-auto" %>
                <p class="text-3xl my-6 text-center dark:text-white">
                    Hi, I&#x27;m <%= @menber.name %> ðŸ¤˜
                    <%= link_to 'å†™çœŸã®å–å¾—', graduation_album_menber_register_faces_path(@graduation_album, @menber), method: :post, class: "text-gray-800 hover:text-gray-500 text-lg lg:text-xl font-bold transition duration-100" %>
                </p>
                <div class="grid grid-cols-2 sm:grid-cols-3 gap-4 md:gap-5 xl:gap-2">
                  <% if @mathed_face_paths %>
                    <% num = @mathed_face_paths[0].size %>
                      <% num.times do |num| %> 
                      <!-- image - start -->
                      <a href="#" class="group h-80 md:h-96 flex justify-end items-end bg-gray-100 overflow-hidden rounded-lg shadow-lg relative">
                        <%= image_tag @mathed_face_paths[0][num].path %>
                        <div class="bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50 absolute inset-0 pointer-events-none"></div>
                      </a>
                      <!-- image - end -->
                    <% end %>
                  <% end %>
                </div>




                <h2 class="max-w-3xl text-5xl md:text-6xl font-bold mx-auto dark:text-white text-gray-800 text-center py-2">
                </h2>
                <%= render 'message_for_each_menbers/message_for_each_menbers', { message_for_each_menbers: @message_for_each_menbers } %>
                <%= render 'message_for_each_menbers/form', { graduation_album: @graduation_album, message_for_each_menber: @message_for_each_menber, menber: @menber } %>
            </div>
        </div>
    </div>
</main>