<% breadcrumb :menber_show, @graduation_album, @menber %>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <div class="mb-10 md:mb-16">
      <div class="flex flex-col items-center rounded-lg p-4 lg:p-8">
          <div class="w-24 md:w-32 h-24 md:h-32 bg-gray-200 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4">
            <%= image_tag @menber.avatar.to_s %>
          </div>
          <div>
            <div class="text-blue-500 md:text-lg font-bold text-center">
              <%= @menber.name %>
            </div>
          <% if @graduation_album.analysis_status == 'done'%>
          <div class='flex justify-center'>
            <%= link_to graduation_album_menber_register_faces_path(@graduation_album, @menber), method: :post do %>
              <button class="bg-blue-500 hover:bg-blue-300 text-white rounded px-4 py-2">写真の取得</button>
            <% end %>
          </div>
            <p class='pt-6 text-center text-blue-500'> アルバムに投稿された画像の中から<%=@menber.name%>さんが写っている写真をこのページに表示できます</p>
            <p class='pb-6 text-center text-blue-500'> プロフィール画像に顔が写っているかを確認してボタンをクリックしよう！</p>
          <% elsif @graduation_album.analysis_status == 'doing' %>
            <p class='pt-6 text-center text-blue-500'> アルバムに投稿された画像を分析中です</p>
            <p class='pb-6 text-center text-blue-500'> 分析が終わるとアルバムに投稿された画像の中から<%=@menber.name%>さんが写っている写真をこのページに表示できます</p>
          <% else %>
            <p class='pt-6 text-center text-blue-500'> アルバムに写真を投稿してみよう！</p>
            <p class='pb-6 text-center text-blue-500'> 投稿するとアルバムの画像の中から<%=@menber.name%>さんが写っている写真をこのページに表示できます</p>
          <% end %>
          </div>
      <div class="grid grid-cols-2 sm:grid-cols-3 gap-4 md:gap-5 xl:gap-2">
        <% if @mathed_face_images && @mathed_face_images.count != 0 %>
          <% @mathed_face_images.each do |image| %>
            <%= image_tag image , size: '240x240'%>
          <% end %> 
        <% end %>
      </div>
      <h2 class="text-red-400 text-2xl lg:text-3xl font-bold text-center pt-4 mb-4 md:mb-6 pt-10"><i class="fa-regular fa-comment"></i>メンバーからのメッセージ</h2>
    </div>
    <%= render 'message_for_each_menbers/message_for_each_menbers', { message_for_each_menbers: @message_for_each_menbers } %>
    <%= render 'message_for_each_menbers/form', { graduation_album: @graduation_album, message_for_each_menber: @message_for_each_menber, menber: @menber } %>
    
        <% unless @menber.events == [] %>
      <div class="mb-10 md:mb-16">
        <h2 class="text-indigo-700 text-2xl lg:text-3xl font-bold text-center mb-6 mt-12 md:mb-6"><%= "#{@menber.name}"%>さんが作成したイベント</h2>
      </div>
      <%= render 'events/events', { graduation_album: @graduation_album, events: @events } %>
    <% else %>
      <div class="my-5 md:my-8">
        <h3 class="text-indigo-700 text-2xl font-bold text-center mb-6 mt-6 md:mb-6"><%= "#{@menber.name}"%>さんが作成したランキングはまだありません</h3>
        <%= render 'graduation_albums/event_explanation' %>
      </div>
    <% end %>
    <div class='text-center py-3'>
      <%= link_to new_graduation_album_event_path(@graduation_album) do %>
        <button class="btn btn-outline btn-primary">イベントを作成</button>
      <% end %>
    </div>

    <% unless @menber.ranks == [] %>
      <div class="my-5 md:my-8">
        <h2 class="text-pink-500 text-2xl lg:text-3xl font-bold text-center mb-6 mt-6 md:mb-3"><%= "#{@menber.name}"%>さんが作成したランキング</h2>
      </div>
      <%= render 'ranks/ranks', { graduation_album: @graduation_album, ranks: @ranks } %>
    <% else %>
      <div class="my-5 md:my-8">
        <h3 class="text-pink-500 text-2xl font-bold text-center mb-6 mt-6 md:mb-6"><%= "#{@menber.name}"%>さんが作成したランキングはまだありません</h3>
        <%= render 'graduation_albums/rank_explanation' %>
      </div>
    <% end %>
    <div class='text-center py-3'>
      <%= link_to new_graduation_album_rank_path(@graduation_album) do %>
        <button class="btn btn-outline btn-secondary">ランキングを作成</button>
      <% end %>
    </div>

    <% unless @menber.suprise_messages == [] %>
      <div class="mb-10 md:mb-16">
        <h2 class="text-green-600 text-2xl lg:text-3xl font-bold text-center mb-6 mt-12 md:mb-6"><%= "#{@menber.name}"%>さんが作成したサプライズメッセージ</h2>
      </div>
      <%= render 'suprise_messages/suprise_messages', { graduation_album: @graduation_album, suprise_messages: @suprise_messages } %>
    <% else %>
      <div class="my-5 md:my-8">
        <h3 class="text-green-600 text-2xl font-bold text-center mb-6 mt-6 md:mb-6"><%= "#{@menber.name}"%>さんが作成したランキングはまだありません</h3>
        <%= render 'graduation_albums/suprise_explanation' %>
      </div>
    <% end %>
    <div class='text-center py-3'>
      <%= link_to new_graduation_album_suprise_message_path(@graduation_album) do %>
        <button class="btn btn-outline btn-accent">サプライズメッセージを作成</button>
      <% end %>
    </div>
  </div>
</div>