<!-- component -->
<div class="relative max-w-md mx-auto md:max-w-2xl mt-6 min-w-0 break-words bg-white w-full mb-6 shadow-2xl rounded-xl mt-16 bg-gray-100">
    <div class="px-6 pt-10">
      <div class='text-right'>
        <%= link_to edit_user_registration_path, class: "text-gray-800 hover:text-gray-500 text-lg lg:text-xl font-bold transition duration-100" do %>
          <i class="fa-solid fa-pen-to-square fa-lg"></i>
        <% end %>
        <%= link_to logout_path, method: :delete, id: "delete_button", data: {confirm: "ログアウトしますか？"},  class: "text-gray-800 hover:text-gray-500 text-lg lg:text-xl font-bold transition duration-100" do %>
          <i class="fas fa-sign-out-alt fa-lg"></i>
        <% end %>
      </div>
        <div class="flex flex-wrap justify-center">
            <div class="w-full flex justify-center">
                <div class="w-24 md:w-32 h-24 md:h-32 bg-gray-100 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4">
                  <%= image_tag @user.avatar.to_s ,class: "w-full h-full object-cover object-center" %>
                </div>
            </div>
            <div class="flex justify-center lg:pt-4 pt-8 pb-0">
                <div class="p-3 text-center">
                    <span class="text-xl font-bold block uppercase tracking-wide text-slate-700"><%= @user.followers.count %></span>
                    <span class="text-sm text-slate-400">フォロー</span>
                </div>
                <div class="p-3 text-center">
                    <span class="text-xl font-bold block uppercase tracking-wide text-slate-700"><%= @user.followings.count %></span>
                    <span class="text-sm text-slate-400">フォロワー</span>
                </div>
            </div>
        </div>
        <div class="text-center mt-2 pb-6">
          <h3 class="text-2xl text-slate-700 font-bold leading-normal mb-1"><%= @user.name %></h3>
          <p class=" text-slate-700 font-bold leading-normal mb-1">メールアドレス：<%= @user.email %></p>
        </div>
    </div>
</div>
<div class="bg-white py-3 sm:py-4 lg:py-6">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">ユーザー検索</h2>
      <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto">ユーザーをフォローすることでグループに招待できます</p>
      <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto">ユーザーはユーザー名かメールアドレスから検索することができます</p>
      <input type="text" placeholder="Type here" class="input input-bordered input-accent w-full max-w-xs" />
    </div>
    <!-- text - end -->

    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">フォローしているユーザー</h2>
    </div>
    <!-- text - end -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-x-4 lg:gap-x-8 gap-y-8 lg:gap-y-12">
      <!-- person - start -->
      <% @following_users.each do |follower|%>
        <div class="flex flex-col items-center">
          <div class="w-24 md:w-32 h-24 md:h-32 bg-gray-100 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4">
            <%= image_tag follower.avatar.to_s ,class: "w-full h-full object-cover object-center" %>
          </div>
          <div>
            <div class="text-indigo-500 md:text-lg font-bold text-center"><%= follower.name %></div>
            <% unless @user == follower %>
              <% if @user.following?(follower) %>
                <%= form_for(@user.relationships.find_by(follow_id: follower.id), html: { method: :delete }) do |f| %>
                  <%= hidden_field_tag :follow_id, follower.id %>
                  <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
                <% end %>
              <% else %>
                <%= form_for(@user.relationships.build) do |f| %>
                  <%= hidden_field_tag :follow_id, follower.id %>
                  <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <!-- person - end -->
    </div>

    <!-- text - start -->
    <div class="pt-10 md:pt-16">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">フォローされているユーザー</h2>
    </div>
    <!-- text - end -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-x-4 lg:gap-x-8 gap-y-8 lg:gap-y-12">
      <!-- person - start -->
      <% @followed_users.each do |followed|%>
        <div class="flex flex-col items-center">
          <div class="w-24 md:w-32 h-24 md:h-32 bg-gray-100 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4">
            <%= image_tag followed.avatar.to_s ,class: "w-full h-full object-cover object-center" %>
          </div>
          <div>
            <div class="text-indigo-500 md:text-lg font-bold text-center"><%= followed.name %></div>
            <% unless @user == followed %>
              <% if @user.following?(followed) %>
                <%= form_for(@user.relationships.find_by(follow_id: followed.id), html: { method: :delete }) do |f| %>
                  <%= hidden_field_tag :follow_id, followed.id %>
                  <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
                <% end %>
              <% else %>
                <%= form_for(@user.relationships.build) do |f| %>
                  <%= hidden_field_tag :follow_id, followed.id %>
                  <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
