<header>
  <div class="navbar bg-green-100">
    <div class="flex-1">
    <%= link_to graduation_albums_path, class:"btn btn-ghost normal-case text-xl" do %>
      <%= image_tag 'header_logo.png'%>
    <% end %>
    </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end" id='profile'>
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <%= image_tag current_user.avatar.to_s %>
          </div>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li>
            <%= link_to "プロフィール", users_show_path %>
          </li>
          <% if current_user.social_unique_id %>
            <li><%= link_to 'ログアウト', '/auth/logout', method: :get %></li>
          <% else %>
            <li><%= link_to "ログアウト", logout_path %></li>
          <% end %>
          <li>
            <% if current_user.admin == true %>
              <%= link_to "管理画面", admin_root_path %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>