<% breadcrumb :new_graduation_album_event, @graduation_album %>
<div class="mt-8">
  <%= form_with model: @event, url: graduation_album_events_path, class:"w-10/12 mx-auto md:max-w-md", local: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>
    <div class="mb-8">
      <%= f.label :title, class: "text-sm block"%>
      <%= f.text_field :title, class: 'w-full py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50', placeholder: "タイトル" %>
    </div>
    <div class="mb-8">
      <%= f.label :description, class: "text-sm block"%>
      <%= f.text_area :description, class: 'w-full py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50', placeholder: "詳細" %>
    </div>
    <div class="mb-8">
      <%= f.label :event_date, class: "text-sm block"%>
      <%= f.date_field :event_date, value: Date.today, class: 'w-full py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50', placeholder: "日付" %>
    </div>
    <div class="mb-8">
      <div class="mb-8">
        <%= f.label :event_photos, class: "text-sm block"%>
        <%= f.file_field :event_photos, multiple: true, direct_upload: true, class: 'w-full py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50' %>
      </div>
    </div>
    <div class='form-control mt-6'>
      <%= f.submit '作成する', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-5 md:mb-8">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">イベントを自動で作成する</h2>
      <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto">アルバムに投稿された画像の中から笑顔が写っている写真だけを取得して<br>自動でイベントを作成できます</p>
    </div>
    <!-- text - end -->
    <div class='text-center'>
      <%= link_to graduation_album_auto_make_events_path(@graduation_album), method: :post do %>
        <button class="btn btn-outline btn-primary">自動で作成する</button>
      <% end %>
    </div>
  </div>
</div>