<% breadcrumb :new_graduation_album_rank, @graduation_album %>
<div class="mt-8">
  <%= form_with model: @rank, url: graduation_album_ranks_path, class:"w-10/12 mx-auto md:max-w-md", local: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>
    <div class="mb-8">
      <%= f.label :rank_title, class: "text-sm block"%>
      <%= f.text_field :rank_title, class: 'w-full py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50', placeholder: "タイトル" %>
    </div>
    <div class="mb-8">
      <%= f.label :rank_description, class: "text-sm block"%>
      <%= f.text_area :rank_description, class: 'w-full py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50', placeholder: "詳細" %>
    </div>
    <div class='form-control mt-6'>
      <%= f.submit '作成する', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-5 md:mb-8">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">ランキングを自動で作成する</h2>
      <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto">アルバムに投稿された画像を感情分析して<br>幸福度の高い画像上位3つを取得してイベントを自動作成します</p>
    </div>
    <!-- text - end -->
    <div class='text-center'>
      <%= link_to graduation_album_auto_make_ranks_path(@graduation_album), method: :post do %>
        <button class="btn btn-outline btn-secondary">自動で作成する</button>
      <% end %>
    </div>
  </div>
</div>