<div class="bg-white py-3 sm:py-4 lg:py-6">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <div class="bg-white py-3 sm:py-4 lg:py-6">
        <div class=" px-4 md:px-8 mx-auto">
          <div class="swiper-container">
              <div class="swiper mySwiper">
                <div class="swiper-wrapper h-80 w-80">
                    <div class='swiper-slide rounded-lg' id="album-swiper"><%= image_tag 'sample_event_winter.jpg' %></div>
                    <div class='swiper-slide rounded-lg' id="album-swiper"><%= image_tag 'sample_event.jpg' %></div>
                    <div class='swiper-slide rounded-lg' id="album-swiper"><%= image_tag 'sample_men.jpg' %></div>
                    <div class='swiper-slide rounded-lg' id="album-swiper"><%= image_tag 'sample_man_3.jpg' %></div>
                    <div class='swiper-slide rounded-lg' id="album-swiper"><%= image_tag 'sample_man_a_2.jpg' %></div>
                    <div class='swiper-slide rounded-lg' id="album-swiper"><%= image_tag 'sample_event_4.jpg' %></div>
                    <div class='swiper-slide rounded-lg' id="album-swiper"><%= image_tag 'sample_men_3.jpg' %></div>
                </div><!-- .swiper-wrapper -->
                  <div class="swiper-pagination"></div>
                  <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div><!-- .swiper mySwiper -->
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3"> 
      <div class='text-center py-2'>
        <button class="btn btn-outline btn-primary">
          <%= link_to anchor: "event_top" do %>
            <i class="fa-solid fa-plane fa-lg"></i> イベントへ移動
          <% end %>
        </button>
      </div>
      <div class='text-center py-2'>
        <button class="btn btn-outline btn-secondary">
        <%= link_to anchor: "rank_top" do %>
            <i class="fa-solid fa-ranking-star fa-lg"></i> ランキングへ移動
          <% end %>
        </button>
      </div>
      <div class='text-center py-2'>
        <button class='px-2 py-3 text-green-600 border border-green-500 font-semibold rounded-md hover:bg-green-700 hover:text-white'>
        <%= link_to anchor: "suprise_top" do %>
            <i class="fa-solid fa-gift fa-lg"></i> サプライズメッセージへ移動
          <% end %>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- message for everyone -->
<h2 class="text-blue-600 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6 pt-8"><i class="fa-solid fa-people-group"></i> メンバー</h2>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 lg:gap-8">
    <!-- person - start -->
        <div class="flex flex-col items-center bg-blue-100 rounded-lg p-4 lg:p-8">
          <div class="w-24 md:w-32 h-24 md:h-32 bg-gray-200 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4">
            <%= link_to '#', class:"w-24 md:w-32 h-24 md:h-32 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4" do %>
              <%= image_tag 'sample_man_a_2.jpg',class: "w-full h-full object-cover object-center" %>
            <% end %>
          </div>
          <div>
            <div class="text-indigo-500 md:text-lg font-bold text-center">
              <%= link_to '田中', '#'%>
            </div>
          <%= link_to '#' do %>
            <p class="text-indigo-500 text-sm md:text-base text-center mb-3 md:mb-4">詳細へ <i class="fa-solid fa-arrow-up-right-from-square fa-lg"></i></p>
          <% end %>
          </div>
        </div>
      <!-- person - end -->
      <!-- person - start -->
        <div class="flex flex-col items-center bg-blue-100 rounded-lg p-4 lg:p-8">
          <div class="w-24 md:w-32 h-24 md:h-32 bg-gray-200 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4">
            <%= link_to '#', class:"w-24 md:w-32 h-24 md:h-32 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4" do %>
              <%= image_tag 'sample_man_b.jpg',class: "w-full h-full object-cover object-center" %>
            <% end %>
          </div>
          <div>
            <div class="text-indigo-500 md:text-lg font-bold text-center">
              <%= link_to '山田', '#'%>
            </div>
          <%= link_to '#' do %>
            <p class="text-indigo-500 text-sm md:text-base text-center mb-3 md:mb-4">詳細へ <i class="fa-solid fa-arrow-up-right-from-square fa-lg"></i></p>
          <% end %>
          </div>
        </div>
      <!-- person - end -->
      <!-- person - start -->
        <div class="flex flex-col items-center bg-blue-100 rounded-lg p-4 lg:p-8">
          <div class="w-24 md:w-32 h-24 md:h-32 bg-gray-200 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4">
            <%= link_to '#', class:"w-24 md:w-32 h-24 md:h-32 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4" do %>
              <%= image_tag 'sample_man_3.jpg',class: "w-full h-full object-cover object-center" %>
            <% end %>
          </div>
          <div>
            <div class="text-indigo-500 md:text-lg font-bold text-center">
              <%= link_to '山内', '#'%>
            </div>
          <%= link_to '#' do %>
            <p class="text-indigo-500 text-sm md:text-base text-center mb-3 md:mb-4">詳細へ <i class="fa-solid fa-arrow-up-right-from-square fa-lg"></i></p>
          <% end %>
          </div>
        </div>
      <!-- person - end -->
    </div>
  </div>
</div>
<h2 class="text-red-400 text-2xl lg:text-3xl font-bold text-center pt-4 mb-4 md:mb-6 pt-10"><i class="fa-regular fa-comment"></i> メンバーからのメッセージ</h2>


<div class="max-w-screen-xl px-2 md:px-4 mx-auto">
  <div id="js-table-message_for_everyone" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-4" >
    <div class="card w-80 h-60 bg-base-100 shadow-xl border border-red-300 container mx-auto">
      <div class="card-body">
        <h2 class="card-title">
        <div class="avatar">
          <div class="w-12 rounded-full">
            <%= link_to '#' do %>
              <%= image_tag  'sample_man_a_2.jpg' %>
            <% end %>
          </div>
        </div>
        <%= link_to '田中', '#', class: "text-gray-800 hover:text-gray-500 text-lg lg:text-xl font-bold transition duration-100"%>
        </h2>
          <div>また集まりたいです〜！</div>
      </div>
    </div>
    <div class="card w-80 h-60 bg-base-100 shadow-xl border border-red-300 container mx-auto">
      <div class="card-body">
        <h2 class="card-title">
        <div class="avatar">
          <div class="w-12 rounded-full">
            <%= link_to '#' do %>
              <%= image_tag  'sample_man_b.jpg' %>
            <% end %>
          </div>
        </div>
        <%= link_to '山田', '#', class: "text-gray-800 hover:text-gray-500 text-lg lg:text-xl font-bold transition duration-100"%>
        </h2>
          <div>いつも楽しい思い出をありがとうございます！</div>
      </div>
    </div>
    <div class="card w-80 h-60 bg-base-100 shadow-xl border border-red-300 container mx-auto">
      <div class="card-body">
        <h2 class="card-title">
        <div class="avatar">
          <div class="w-12 rounded-full">
            <%= link_to '#' do %>
              <%= image_tag  'sample_man_3.jpg' %>
            <% end %>
          </div>
        </div>
        <%= link_to '山内', '#', class: "text-gray-800 hover:text-gray-500 text-lg lg:text-xl font-bold transition duration-100"%>
        </h2>
          <div>また遊びいきましょう！！</div>
      </div>
    </div>
  </div>
</div>

<div class=' w-8/12 mx-auto md:max-w-md'>
  <div class="mt-8">
      <div class="mb-8 w-full py-2 border-b text-gray-400 focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-red-400 placeholder-opacity-50">
        メッセージを送ろう
      </div>
      <div class='form-control mt-6'>
        <div class='bg-red-400 hover:bg-red-600 text-white rounded px-4 py-2 text-center'>
          作成する
        </div>
      </div>
  </div>
</div>

<div class='pt-5'>
  <div class="swiper loopSwiper">
    <div class="swiper-wrapper">
        <div class='swiper-slide rounded-lg' id="album-swiper"><%= image_tag 'sample_event_winter.jpg' %></div>
        <div class='swiper-slide rounded-lg' id="album-swiper"><%= image_tag 'sample_event.jpg' %></div>
        <div class='swiper-slide rounded-lg' id="album-swiper"><%= image_tag 'sample_men.jpg' %></div>
        <div class='swiper-slide rounded-lg' id="album-swiper"><%= image_tag 'sample_man_3.jpg' %></div>
        <div class='swiper-slide rounded-lg' id="album-swiper"><%= image_tag 'sample_man_a_2.jpg' %></div>
        <div class='swiper-slide rounded-lg' id="album-swiper"><%= image_tag 'sample_event_4.jpg' %></div>
        <div class='swiper-slide rounded-lg' id="album-swiper"><%= image_tag 'sample_men_3.jpg' %></div>
    </div>
  </div>
</div>
<div class="bg-white py-3 sm:py-4 lg:py-8">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <div class="mb-5 md:mb-8" id='event_top'>
      <h2 class="text-indigo-700 text-2xl lg:text-3xl font-bold text-center mb-3 mt-8 md:mb-3"><i class="fa-solid fa-plane fa-lg"></i> 思い出の行事</h2>
    </div>

    <ol class="relative border-l border-indigo-300 dark:border-indigo-300">        
      <li class="mb-10 ml-6">         
        <span class="flex absolute -left-3 justify-center items-center w-10 h-10 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
          <i class="fa-solid fa-plane-departure"></i>
        </span>
        <h3 class="flex items-center mb-1 text-lg font-semibold text-indigo-700 dark:text-white px-4 pt-2"><div class='text-right'>2021/10/31</div></h3>
          <div class="bg-white py-3 sm:py-4 lg:py-6">
            <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
              <div class="md:h-80 flex flex-col sm:flex-row bg-indigo-100 rounded-lg overflow-hidden">
                <!-- image - start -->
                <div class="w-full h-full">
                  <%= link_to '#' do %>
                    <%= image_tag 'sample_event_4', class:'object-contai', loading:"lazy"%>
                  <% end %>
                </div>
                <!-- image - end -->
                <!-- content - start -->
                <div class="w-full sm:w-full flex flex-col p-4 sm:p-8">
                  <h2 class="text-indigo-700 text-xl md:text-2xl lg:text-4xl font-bold mb-4"><%= link_to 'ハロウィン', '#'%></h2>
                  <p class="max-w-md text-indigo-700 mb-8">今年のハロウィンです <i class="fa-solid fa-ghost"></i></p>
                  <div class="mt-auto text-right">
                      <%= link_to '#', method: :delete, id: "delete_button", data: {confirm: "本当に削除しますか？"},  class: "inline-block bg-white hover:bg-gray-100 active:bg-gray-200 focus-visible:ring ring-indigo-300 text-indigo-700 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" do%>
                        <i class="fa-solid fa-trash-can fa-lg"></i>
                      <% end %>
                    <%= link_to '詳細へ', '#', class: "inline-block bg-white hover:bg-gray-100 active:bg-gray-200 focus-visible:ring ring-indigo-300 text-indigo-700 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %>
                  </div>
                </div>
                <!-- content - end -->
              </div>
            </div>
          </div>
      </li>
    </ol>

    <div class='flex flex-col text-center'>
      <%= link_to '#' do %>
        <div class='pb-4 px-4'><button class="btn btn-outline btn-primary m-4 p-3">イベントを作成</button>
      <% end %>
      <%= link_to '#' do %>
        <button class="btn btn-outline btn-primary">イベントを自動で作成する</button>
      <% end %>
    </div>
  </div>
    
    <div class="mb-4 md:mb-8" id='rank_top'>
      <h2 class="text-pink-500 text-2xl lg:text-3xl font-bold text-center mb-3 mt-6 md:mb-3"><i class="fa-solid fa-ranking-star fa-lg"></i> メンバーランキング</h2>
      <p class="max-w-screen-md text-pink-500 md:text-lg text-center mx-auto">〇〇になりそうな人ランキングを作成しよう</p>
    </div>

  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-1 gap-6">
    <div class="hero-content text-center self-start ">
      <div class="card lg:card-side bg-base-100 my-6 shadow-xl border border-pink-300">
        <div class="card-body">
          <div class='p-2'>
            <div class="grid grid-cols-5 gap-4">
                <div class="col-start-1 col-span-2 sm:col-start-2 col-span-3 text-pink-500 text-center px-4 py-2 m-2 text-sm sm:text-2xl font-bold"><%= link_to "ベスト笑顔ランキング", '#' %></div>
                <div class="col-end-6 col-span-2 sm:col-span-1 text-pink-500 text-center px-4 py-2 m-2">
                  <%= link_to "詳細",'#', class:'text-pink-500 text-xs sm:text-2xl font-bold' %>
                </div>
              </div>
          </div>
            <%# first %>
            <div class="grid grid-cols-12 flex items-center my-4">
              <div class="text-sm sm:text-2xl col-span-8 text-sm font-medium text-pink-600 dark:text-pink-500 text-center">
                <i class="fa-solid fa-1"></i>位　ハロウィン
              </div>
              <input type="number" style="text-align:right" class='text-pink-600 text-sm sm:text-2xl inline-block col-span-1' id="textbox"><span class='text-pink-600 text-sm sm:text-2xl'>8票</span>
              <span class="self-center col-span-1 text-sm font-medium text-pink-600 dark:text-pink-500 text-center">
                <%= link_to '#', id:"up", class:'button' do %>
                  <i class="fa-solid fa-check-to-slot fa-lg"></i>
                <% end %>
              </span>
            </div>
            <div class="flex justify-center">
              <div class="group h-80 w-80 flex items-end bg-gray-100 rounded-lg overflow-hidden shadow-lg relative p-4">
                <%= image_tag 'sample_event_4.jpg', loading:"lazy", alt:"Photo by Fakurian Design", class:"w-full h-full object-cover object-center absolute inset-0 transition duration-200" %>
                <div class="bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50 absolute inset-0 pointer-events-none"></div>
              </div>
            </div>
            <%# second %>
            <div class="grid grid-cols-12 flex items-center my-4">
              <div class="text-sm sm:text-2xl col-span-8 text-sm font-medium text-pink-600 dark:text-pink-500 text-center">
                <i class="fa-solid fa-2"></i>位　クリスマス
              </div>
              <input type="number" style="text-align:right" class='text-pink-600 text-sm sm:text-2xl inline-block col-span-1' id="textbox"><span class='text-pink-600 text-sm sm:text-2xl'>6票</span>
              <span class="self-center col-span-1 text-sm font-medium text-pink-600 dark:text-pink-500 text-center">
                <%= link_to '#', id:"up", class:'button' do %>
                  <i class="fa-solid fa-check-to-slot fa-lg"></i>
                <% end %>
              </span>
            </div>
            <div class="flex justify-center">
              <div class="group h-80 w-80 flex items-end bg-gray-100 rounded-lg overflow-hidden shadow-lg relative p-4">
                <%= image_tag 'sample_event_6.jpg', loading:"lazy", alt:"Photo by Fakurian Design", class:"w-full h-full object-cover object-center absolute inset-0 transition duration-200" %>
                <div class="bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50 absolute inset-0 pointer-events-none"></div>
              </div>
            </div>
            <%# third %>
            <div class="grid grid-cols-12 flex items-center my-4">
              <div class="text-sm sm:text-2xl col-span-8 text-sm font-medium text-pink-600 dark:text-pink-500 text-center">
                <i class="fa-solid fa-3"></i>位　遊園地
              </div>
              <input type="number" style="text-align:right" class='text-pink-600 text-sm sm:text-2xl inline-block col-span-1' id="textbox"><span class='text-pink-600 text-sm sm:text-2xl'>4票</span>
              <span class="self-center col-span-1 text-sm font-medium text-pink-600 dark:text-pink-500 text-center">
                <%= link_to '#', id:"up", class:'button' do %>
                  <i class="fa-solid fa-check-to-slot fa-lg"></i>
                <% end %>
              </span>
            </div>
            <div class="flex justify-center">
              <div class="group h-80 w-80 flex items-end bg-gray-100 rounded-lg overflow-hidden shadow-lg relative p-4">
                <%= image_tag 'sample_men_3.jpg', loading:"lazy", alt:"Photo by Fakurian Design", class:"w-full h-full object-cover object-center absolute inset-0 transition duration-200" %>
                <div class="bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50 absolute inset-0 pointer-events-none"></div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

    <div class='text-center py-6'>
    <%= link_to '#' do %>
      <button class="btn btn-outline btn-secondary m-4 p-3">ランキングを作成</button>
    <% end %>
    <%= link_to '#', method: :post do %>
      <button class="btn btn-outline btn-secondary">ランキングを自動で作成する</button>
    <% end %>
    </div>

    <div class="mb-10 md:mb-16" id='suprise_top'>
      <h2 class="text-green-600 text-2xl lg:text-3xl font-bold text-center mb-6 mt-12 md:mb-6"><i class="fa-solid fa-gift fa-lg"></i> サプライズメッセージ</h2>
      <p class="max-w-screen-md text-green-600 md:text-lg text-center mx-auto">未来に向けてメッセージを残そう</p>
    </div>
    

<div class="boxmi14">
  <div class="boxmi14-title">
    半年ぶりの飲み会
  </div>
  <div class="sen14 text-center text-gray-800 hover:text-gray-500 text-lg lg:text-xl font-bold transition duration-100">
    お久しぶりです！<br>
    このアルバムを作成してから半年が経ちました。元気にしてますか？<br>
    久しぶりに飲みにいきましょ〜！
  </div>
  <div class="grid grid-cols-8" >
    <div class='flex items-center col-end-9 col-span-3'>
      <div class="avatar ">
        <div class="w-12 rounded-full ">
          <%= link_to '#' do %>
            <%= image_tag 'sample_man_a_2.jpg' %>
          <% end %>
        </div>
        <%= link_to '田中', '#', class: "pl-1 self-center text-gray-800 hover:text-gray-500 text-lg lg:text-xl font-bold transition duration-100"%>
      </div>
    </div>
  </div>
</div>


    <div class='text-center py-6'>
    <%= link_to '#' do %>
      <div class="m-3">
        <button class="px-2 py-3 text-green-600 border border-green-500 font-semibold rounded-md hover:bg-green-700 hover:text-white">サプライズメッセージを作成</button>
      </div>
    <% end %>
    </div>
  </div>
</div>