<% breadcrumb :graduation_album_edit, @graduation_album %>
<div class="mt-8">
  <%= form_with model: @graduation_album, class:"w-10/12 mx-auto md:max-w-2xl", local: true do |f| %>
    <p class='pt-6'>写真を10枚投稿すると20秒ほど作成時間がかかってしまいます</p>
    <p class='pb-6'>本リリースまでに改善予定です</p>
    <%= render "shared/error_messages", object: f.object %>
    <div class="mb-8">
      <%= f.label :album_name, class: "text-sm block"%>
      <%= f.text_field :album_name, class: 'w-full py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50', placeholder: "アルバム名" %>
    </div>
    <div class="mb-8">
      <p>S3の無料プランを超えそうなので7月中は画像投稿行えません</p>
      <%# <%= f.label :images, class: "text-sm block"%>
      <%# <%= f.file_field :images, multiple: true, direct_upload: true, class: 'w-full py-2 border-b focus:outline-none focus:border-b-2 focus:border-indigo-500 placeholder-gray-500 placeholder-opacity-50' %>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-x-4 md:gap-x-6 gap-y-8">
      <% if @graduation_album.images != [] %>
        <% @graduation_album.images.each do |image| %>
          <div class='flex flex-col'>
          <div class="group h-80 block bg-gray-100 rounded-lg overflow-hidden relative mb-2 lg:mb-3">
            <%= image_tag image, class:"w-full h-full object-cover object-center group-hover:scale-110 transition duration-200" %>
          </div>
          <div class='mx-auto'>
            <%= link_to '削除', destroy_each_photo_graduation_album_path(image.id), method: :delete, class: 'btn btn-danger' %>
          </div>
          </div>
        <% end %>
      <% end %>
    </div>
    </div>
    <div class="mb-8">
      <% unless current_user.followings.count == 0 %>
        <%= f.label :user_ids, 'メンバー', class: "text-sm block"%>
        <%= f.collection_check_boxes :user_ids, current_user.followings, :id, :name %>
        <div class='text-center pt-6'>
          <button class="btn btn-outline btn-accent">
            <%= link_to "招待したいユーザーをフォローしよう", users_show_path %>
          </button>
        </div>
      <% else %>
        <%= f.label :user_ids, 'フォローしているユーザーがいません', class: "text-sm block"%>
        <div class='text-center pt-6'>
          <button class="btn btn-outline btn-accent">
            <%= link_to "招待したいユーザーをフォローしよう", users_show_path %>
          </button>
        </div>
      <% end %>
    </div>
    <div class='form-control mt-6 pb-6'>
      <%= f.submit '作成する', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>