<% breadcrumb :graduation_album, @graduation_album %>
<div class="bg-white py-3 sm:py-4 lg:py-6">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <div class="bg-white py-3 sm:py-4 lg:py-6">
        <div class=" px-4 md:px-8 mx-auto">
          <div class="swiper-container">
              <div class="swiper mySwiper">
                <div class="swiper-wrapper h-80 w-80">
                  <% unless @graduation_album.images.blobs == [] %>
                    <% @graduation_album.images.each do |image| %> 
                      <%= image_tag image, class:"swiper-slide rounded-lg", id:"album-swiper" %>
                    <% end %>
                  <% else %>
                    <div class='swiper-slide rounded-lg' id="album-swiper"><%= image_tag 'default_album1' %></div>
                    <div class='swiper-slide rounded-lg' id="album-swiper"><%= image_tag 'default_album2' %></div>
                    <div class='swiper-slide rounded-lg' id="album-swiper"><%= image_tag 'default_album3' %></div>
                  <% end %>
                </div><!-- .swiper-wrapper -->
                  <div class="swiper-pagination"></div>
                  <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div><!-- .swiper mySwiper -->
          </div>
        </div>
      </div>
    </div>
    <%= link_to '自動作成する', graduation_album_auto_make_events_path(@graduation_album), method: :post %>
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3"> 
      <div class='text-center py-2'>
        <button class="btn btn-outline btn-primary">
          <%= link_to anchor: "event_top" do %>
            <i class="fa-solid fa-plane fa-lg"></i>イベントへ移動
          <% end %>
        </button>
      </div>
      <div class='text-center py-2'>
        <button class="btn btn-outline btn-secondary">
        <%= link_to anchor: "rank_top" do %>
            <i class="fa-solid fa-ranking-star fa-lg"></i>ランキングへ移動
          <% end %>
        </button>
      </div>
      <div class='text-center py-2'>
        <button class="btn btn-outline btn-accent">
        <%= link_to anchor: "suprise_top" do %>
            <i class="fa-solid fa-gift fa-lg"></i>サプライズメッセージへ移動
          <% end %>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- message for everyone -->
<h2 class="text-blue-600 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6 pt-8"><i class="fa-solid fa-people-group"></i> メンバー</h2>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 lg:gap-8">
      <% @graduation_album.users.each do |user| %>
      <!-- person - start -->
        <div class="flex flex-col items-center bg-blue-100 rounded-lg p-4 lg:p-8">
          <div class="w-24 md:w-32 h-24 md:h-32 bg-gray-200 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4">
            <%= link_to graduation_album_menber_path(@graduation_album, user), class:"w-24 md:w-32 h-24 md:h-32 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4" do %>
              <%= image_tag user.avatar.to_s ,class: "w-full h-full object-cover object-center" %>
            <% end %>
          </div>
          <div>
            <div class="text-indigo-500 md:text-lg font-bold text-center">
              <%= link_to user.name, graduation_album_menber_path(@graduation_album, user)%>
            </div>
          <%= link_to graduation_album_menber_path(@graduation_album, user) do %>
            <p class="text-indigo-500 text-sm md:text-base text-center mb-3 md:mb-4">詳細へ <i class="fa-solid fa-arrow-up-right-from-square fa-lg"></i></p>
          <% end %>
          </div>
        </div>
        <!-- person - end -->
      <% end %>
    </div>
  </div>
</div>
<h2 class="text-red-400 text-2xl lg:text-3xl font-bold text-center pt-4 mb-4 md:mb-6 pt-10"><i class="fa-regular fa-comment"></i> メンバーからのメッセージ</h2>
      <%= render 'message_for_everyones/message_for_everyones', { message_for_everyones: @message_for_everyones } %>
      <%= render 'message_for_everyones/form', { graduation_album: @graduation_album, message_for_everyone: @message_for_everyone } %>
<div class='pt-5'>
  <% if @graduation_album.images %>
    <div class="swiper loopSwiper">
      <div class="swiper-wrapper">
        <% unless @graduation_album.images.blobs == [] %>
    <% @graduation_album.images.each do |image| %>
      <%= image_tag image, class:"swiper-slide rounded-lg", id:"loop-swiper" %>
    <% end %>
  <% else %>
    <div class='swiper-slide rounded-lg' id="loop-swiper"><%= image_tag 'default_album1' %></div>
    <div class='swiper-slide rounded-lg' id="loop-swiper"><%= image_tag 'default_album2' %></div>
    <div class='swiper-slide rounded-lg' id="loop-swiper"><%= image_tag 'default_album3' %></div>
    <div class='swiper-slide rounded-lg' id="loop-swiper"><%= image_tag 'default_album1' %></div>
    <div class='swiper-slide rounded-lg' id="loop-swiper"><%= image_tag 'default_album2' %></div>
    <div class='swiper-slide rounded-lg' id="loop-swiper"><%= image_tag 'default_album3' %></div>
  <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <div class="mb-10 md:mb-16" id='event_top'>
      <h2 class="text-indigo-700 text-2xl lg:text-3xl font-bold text-center mb-6 mt-12 md:mb-6"><i class="fa-solid fa-plane fa-lg"></i> 思い出の行事</h2>
    </div>
    <% if @events != [] %>
      <%= render 'events/events', { graduation_album: @graduation_album, events: @events } %>
    <% else %>
      <%= render 'event_explanation' %>
    <% end %>
    <div class='text-center py-6'>
      <button class="btn btn-outline btn-primary"><%= link_to 'イベントを作成', new_graduation_album_event_path(@graduation_album) %></button>
    </div>
    
    <div class="mb-10 md:mb-16" id='rank_top'>
      <h2 class="text-pink-500 text-2xl lg:text-3xl font-bold text-center mb-6 mt-12 md:mb-6"><i class="fa-solid fa-ranking-star fa-lg"></i> メンバーランキング</h2>
      <p class="max-w-screen-md text-pink-500 md:text-lg text-center mx-auto">〇〇になりそうな人ランキングを作成しよう</p>
    </div>
    <% if @ranks != [] %>
      <%= render 'ranks/ranks', { graduation_album: @graduation_album, ranks: @ranks} %>
    <% else %>
      <%= render 'rank_explanation' %>
    <% end %>
    <div class='text-center py-6'>
      <button class="btn btn-outline btn-secondary"><%= link_to 'ランキングを作成', new_graduation_album_rank_path(@graduation_album) %></button>
    </div>

    <div class="mb-10 md:mb-16" id='suprise_top'>
      <h2 class="text-green-600 text-2xl lg:text-3xl font-bold text-center mb-6 mt-12 md:mb-6"><i class="fa-solid fa-gift fa-lg"></i> サプライズメッセージ</h2>
      <p class="max-w-screen-md text-green-600 md:text-lg text-center mx-auto">未来に向けてメッセージを残そう</p>
    </div>
    <% unless @suprise_messages == [] %>
      <%= render 'suprise_messages/suprise_messages', { graduation_album: @graduation_album, suprise_messages: @suprise_messages } %>
    <% else %>
      <%= render 'suprise_explanation' %>
    <% end %>
    <div class='text-center py-6'>
      <button class="btn btn-outline btn-accent"><%= link_to 'サプライズメッセージを作成', new_graduation_album_suprise_message_path(@graduation_album) %></button>
    </div>
  </div>
</div>