<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">Gallery</h2>

      <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated.</p>
    </div>
    <!-- text - end -->

    <div class="grid grid-cols-2 sm:grid-cols-3 gap-4 md:gap-6 xl:gap-8">
      <% if @graduation_album.photos %>
        <% @graduation_album.photos.each do |photo| %> 
          <!-- image - start -->
          <a href="#" class="group h-48 md:h-96 flex justify-end items-end bg-gray-100 overflow-hidden rounded-lg shadow-lg relative">
            <%= image_tag photo.to_s, class:"w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200" %>
            <div class="bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50 absolute inset-0 pointer-events-none"></div>
          </a>
          <!-- image - end -->
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- message for everyone -->
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <% @graduation_album.users.each do |user| %>
        <%= user.name %>
      <% end %>
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">メンバーからのメッセージ</h2>
    </div>
    <!-- text - end -->
    <%if @message_for_everyones %>
    <%= render 'message_for_everyones/message_for_everyones', { message_for_everyones: @message_for_everyones } %>
    <% end %>
    <%= render 'message_for_everyones/form', { graduation_album: @graduation_album, message_for_everyone: @message_for_everyone } %>
    <%= render 'events/events', { graduation_album: @graduation_album, events: @events } %>
    <%= render 'ranks/ranks', { graduation_album: @graduation_album, ranks: @ranks } %>
    <%= render 'suprise_messages/suprise_messages', { graduation_album: @graduation_album, suprise_messages: @suprise_messages } %>
  </div>
</div>