<div class="bg-white py-3 sm:py-4 lg:py-6">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h1 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6 underline"><%= @graduation_album.album_name %></h1>
      <div class="bg-white py-3 sm:py-4 lg:py-6">
        <div class=" px-4 md:px-8 mx-auto">
          <% if @graduation_album.images %>
          <div class="swiper-container">
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <% @graduation_album.images.each do |image| %> 
                    <%= image_tag image, class:"swiper-slide rounded-lg", size: '320x240', id:"album-swiper" %>
                  <% end %>
                </div><!-- .swiper-wrapper -->
                  <div class="swiper-pagination"></div>
                  <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div><!-- .swiper mySwiper -->
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- message for everyone -->
<h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6 underline">メンバー</h2>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <% @graduation_album.users.each do |user| %>
        <div class="flex flex-col items-center">
          <%= link_to graduation_album_menber_path(@graduation_album, user), class:"w-24 md:w-32 h-24 md:h-32 bg-gray-100 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4" do %>
            <%= image_tag user.avatar.to_s %>
          <% end %>
          <%= link_to user.name, graduation_album_menber_path(@graduation_album, user), class: "text-gray-800 hover:text-gray-500 text-lg lg:text-xl font-bold transition duration-100"%>
        </div>
      <% end %>
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center pt-4 mb-4 md:mb-6 underline">メンバーからのメッセージ</h2>
    </div>
    <!-- text - end -->
    <%if @message_for_everyones %>
      <%= render 'message_for_everyones/message_for_everyones', { message_for_everyones: @message_for_everyones } %>
    <% end %>
    <%= render 'message_for_everyones/form', { graduation_album: @graduation_album, message_for_everyone: @message_for_everyone } %>
  </div>
</div>
    
<div class='pt-5'>
  <% if @graduation_album.images %>
    <div class="swiper loopSwiper">
      <div class="swiper-wrapper">
        <% @graduation_album.images.each do |image| %>
          <%= image_tag image, class:"swiper-slide rounded-lg", id:"loop-swiper", size: '320x240' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <%= render 'events/events', { graduation_album: @graduation_album, events: @events } %>
    <%= render 'ranks/ranks', { graduation_album: @graduation_album, ranks: @ranks, rank_choices: @rank_choices } %>
    <%= render 'suprise_messages/suprise_messages', { graduation_album: @graduation_album, suprise_messages: @suprise_messages } %>
  </div>
</div>