<!-- person - start -->
<div class="flex flex-col items-center">
  <% if current_user.own?(message_for_each_menber) %>
    <%= link_to edit_graduation_album_message_for_each_menber_path(message_for_each_menber.graduation_album, message_for_each_menber), class: "text-gray-800 hover:text-gray-500 text-lg lg:text-xl font-bold transition duration-100" do %>
      <i class="fa-solid fa-pen-to-square fa-lg"></i>
    <% end %>
    <%= link_to graduation_album_message_for_each_menber_path(message_for_each_menber.graduation_album, message_for_each_menber), method: :delete, id: "delete_button", data: {confirm: "本当に削除しますか？"},  class: "text-gray-800 hover:text-gray-500 text-lg lg:text-xl font-bold transition duration-100" do %>
      <i class="fa-solid fa-trash-can fa-lg"></i>
    <% end %>
  <% end %>
  <div>
    <p class="text-gray-500 text-sm md:text-base text-center mb-3 md:mb-4"></p>
    <%= message_for_each_menber.body %>
  </div>
  <div class="w-24 md:w-32 h-24 md:h-32 bg-gray-100 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4">
    <%= image_tag current_user.avatar.to_s %>
  </div>
    <%= link_to message_for_each_menber.user.name, graduation_album_menber_path(message_for_each_menber.graduation_album, message_for_each_menber.user), class: "text-gray-800 hover:text-gray-500 text-lg lg:text-xl font-bold transition duration-100"%>
</div>
<!-- person - end -->