<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class=" rounded-lg px-4 py-6 md:py-8 lg:py-12">
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">web卒アルにようこそ</h2>
      <p class="max-w-screen-md text-gray-500 md:text-lg text-center mx-auto">web卒アルは大切な思い出をルバムの形に残すことができるサービスです。</p>
    </div>
    <% if user_signed_in? %>
      <div class='container mx-auto text-center'>
        <button class="bg-blue-500 hover:bg-blue-300 text-white rounded px-4 py-2">
          <%= link_to 'アルバム一覧へ', graduation_albums_path %>
        </button>
      </div>
    <% else %>
      <div class='container mx-auto text-center'>
        <button class="bg-blue-500 hover:bg-blue-300 text-white rounded px-4 py-2">
          <%= link_to 'ゲストログイン（閲覧用）', welcome_pages_guest_sign_in_path, method: :post %>
        </button>
      </div>
    <% end %>
    <div class='py-10 px-6'>
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6"><i class="fa-solid fa-gears lg"></i> 機能紹介</h2>
      <div class='py-6 px-6'>
      <%= render 'graduation_albums/album_explanation' %>
      </div>
      <div class='py-6 px-6'>
      <%= render 'graduation_albums/menber_explanation' %>
      </div>
      <div class='py-6 px-6'>
      <%= render 'graduation_albums/message_explanation' %>
      </div>
      <div class='py-6 px-6'>
      <%= render 'graduation_albums/rank_explanation' %>
      </div>
      <div class='py-6 px-6'>
      <%= render 'graduation_albums/suprise_explanation' %>
      </div>
      <div class='py-6 px-6'>
      <%= render 'graduation_albums/event_explanation' %>
      </div>
    </div>
  </div>
</div>
