<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('favicon.ico') %>
    <title>Album</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>

    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="flex flex-col min-h-screen">
    <% if user_signed_in? != true %>
      <%= render 'shared/before_login_header' %>
    <% elsif request.path == '/users/show' || request.path == '/graduation_albums' || request.path == '/' %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/album_header'%>
    <% end %>
    <%= render 'shared/flash' %>
    <div class='flex-grow'>
    <%= breadcrumbs separator: " &rsaquo; " %> 
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
